<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registrarse</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <form action="/comentario/bajacomentario" method="POST">

            <input type="hidden" name="id" th:value="${id}" />
            <p>Desea eliminar el comentario?</p>

            <button type="submit" class="btn btn-primary" style="background-color: rgb(0, 140, 255);">SI</button>
            <a  href="/tablas/superadmin" class="btn btn-primary" style="background-color: rgb(0, 140, 255);">NO</a>
        </form>
    </body>
</html>