<!DOCTYPE html>
<html lang="es">
  <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Modifico evento superadmin!</title>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

                
		<!-- Colocar favicon en sitio -->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
			crossorigin="anonymous"></script>
		<!-- Fuente externa https://fonts.google.com/ -->
		<link
			href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
			crossorigin="anonymous">
		<link
			href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
			rel="stylesheet" crossorigin="anonymous" />

            <!-- <link rel="stylesheet" href="../static/css/nicepage.css" media="screen"> -->
            <!-- <link rel="stylesheet" href="../static/css/Sitio.css" media="screen"> -->
            <!-- <link rel="stylesheet" type="text/css" href="../static/css/StarRating.css">  -->
            <link href="../static/css/styles.css" rel="stylesheet" />
    
    </head>
    
<!--NAVBAR-->

    <body class="sb-nav-fixed">
      <div th:replace="fragments::navbar"></div>

     

		<div id="layoutSidenav">
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">

							<div class="sb-sidenav-menu-heading">Menú</div>
							<a class="nav-link collapsed" data-toggle="collapse"
								data-target="#collapseLayouts" aria-expanded="false"
								aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
								Zonas
								<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
							<div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
								data-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a th:each="z : ${zonass}" class="nav-link" th:text="${z.nombre}"
										name="idzona" href="/comercio/listarPorZona/ +
										${z.id}"></a>
								</nav>
							</div>
							<a class="nav-link collapsed" data-toggle="collapse"
								data-target="#collapsePages" aria-expanded="false"
								aria-controls="collapsePages">
								<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
								Sitios
								<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
							<div class="collapse" id="collapsePages" aria-labelledby="headingOne"
								data-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link" href="/comercio/listarPorRubro/Restaurante">Restaurantes</a>
									<a class="nav-link" href="/comercio/listarPorRubro/Cine">Cines</a>
									<a class="nav-link" href="/comercio/listarPorRubro/Museo">Museos</a>
									<a class="nav-link" href="/comercio/listarPorRubro/Recorrido">Recorridos</a>
									<a class="nav-link" href="/comercio/listarPorRubro/Plaza">Plazas</a>
									<a class="nav-link" href="/comercio/listarPorRubro/vidaNocturna">Vida
										Nocturna</a>
								</nav>
							</div>

							<a class="nav-link" href="/extra/eventos"> Eventos </a>
							<a class="nav-link" href="/extra/publicidades"> Publicidad </a>
							<a class="nav-link" href="/contacto"> Contactanos </a>
						</div>
					</div>

				</nav></div>
      </div>
	
      <div id="layoutSidenav_content">
        <main>
            <!--BOX PRESENTACION-->

    <!-- <section class="u-align-center u-clearfix u-section-2" id="sec-9bb4">
        <div class="u-clearfix u-sheet u-valign-middle-x10 u-sheet-1"><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
          <!-- <div class="u-container-style u-expanded-width u-product u-product-1">
            <div class="u-container-layout u-container-layout-1">
              <div class="u-align-center u-border-3 u-border-grey-30 u-container-style u-expanded-width-md u-group u-shape-rectangle u-group-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-center u-custom-font u-font-raleway u-text u-text-1">CHIRINGUITO</h2>
                  <p class="u-align-center u-text u-text-2">Bar de cocktails premium en el pedemonte mendocino. Inspirado en la playa, los barrios costeros, la música que te mueve y la gente que se divierte.</p> -->
                  
  <!--RATING DE ESTRELLAS-->
  
                <!-- <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
              
                  <a href="Sitio.html#carousel_af61" data-page-id="953908739" class="u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-1">conocer más</a>
                </div>
                              
                </div>
                <img alt="" class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="1600" data-image-height="1067" src="../static/imagenesproyecto/IMG_4356-2.png" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              </div>
  
            </div>
          </div>
        
      </section> --> -->
      
      <!--DESCRIPCION-->
<!--   
      <section class="u-align-center u-clearfix u-section-3" id="carousel_af61">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
            <ul class="u-tab-list u-unstyled" role="tablist">
              <li class="u-tab-item" role="presentation">
                <a class="active u-active-white u-border-6 u-border-active-custom-color-1 u-border-grey-15 u-border-hover-custom-color-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-grey-10 u-hover-custom-color-2 u-tab-link u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Descripción</a>
              </li>
              <li class="u-tab-item u-tab-item-2" role="presentation">
                <a class="u-active-white u-border-6 u-border-active-custom-color-1 u-border-grey-15 u-border-hover-custom-color-2 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-grey-10 u-hover-custom-color-2 u-tab-link u-tab-link-2" id="tab-6ff1" href="#link-tab-6ff1" role="tab" aria-controls="link-tab-6ff1" aria-selected="false">Dejá tu comentario</a>
              </li>
            </ul>
            <div class="u-tab-content">
              <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
                <div class="u-container-layout u-container-layout-1">
                  <img src="images/DSC_1999.jpg" alt="" class="u-image u-image-default u-image-1">
                  <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity u-table-entity-1">
                      <colgroup>
                        <col width="50%">
                        <col width="50%">
                      </colgroup>
                      <tbody class="u-table-body">
                        <tr style="height: 52px;">
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-1">ZONA</td>
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">Chacras de Coria</td>
                        </tr>
                        <tr style="height: 53px;">
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-3">DIRECCION</td>
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">Darragueira 6841</td>
                        </tr>
                        <tr style="height: 53px;">
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-5">RUBRO</td>
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">Bar</td>
                        </tr>
                        <tr style="height: 73px;">
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-7">TELÉFONO</td>
                          <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">+123 456789</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  
              <!--ENVIAR COMENTARIO-->
  
              <!-- <div class="u-container-style u-tab-pane u-white u-tab-pane-2" id="link-tab-6ff1" role="tabpanel" aria-labelledby="tab-6ff1">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
                      <div class="u-form-group u-form-name u-form-group-1">
                        <label for="name-6797" class="u-form-control-hidden u-label">Name</label>
                        <input type="text" placeholder="Nombre" id="name-6797" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group u-form-group-2">
                        <label for="email-6797" class="u-form-control-hidden u-label">Email</label>
                        <input type="email" placeholder="Email" id="email-6797" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message u-form-group-3">
                        <label for="message-6797" class="u-form-control-hidden u-label">Address</label>
                        <textarea placeholder="Mensaje" rows="4" cols="50" id="message-6797" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-form-group-4">
                        <a href="#" class="u-border-0 u-btn u-btn-submit u-button-style u-custom-color-1 u-btn-1">Enviar<br>
                        </a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success">Gracias! Tu comentario ha sido enviado. </div>
                      <div class="u-form-send-error u-form-send-message">Error. No se ha podido enviar el mensaje</div>
                      <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> --> -->
  
  <!--TESTIMONIOS-->
  
      <!-- <section class="u-clearfix u-section-4" id="sec-4beb">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-align-center u-container-style u-group u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <h2 class="u-text u-text-1">Comentarios</h2>
              <p class="u-text u-text-2">¡Queremos que nos cuentes tu experiencia!</p>
              <a href="SitioActual.html#link-tab-6ff1" data-page-id="953908739" class="u-btn u-button-style u-custom-color-1 u-btn-1" target="_blank">Dejá tu comentario</a>
            </div>
          </div>
          <div class="u-expanded-width u-list u-repeater u-list-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="256" data-image-height="256"></div>
                <p class="u-text u-text-default u-text-3">"Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur, mauris in auctor euismod, quam elit ultrices urna, eget eleifend arcu risus id metus. Maecenas ex enim, mattis eu velit vitae, blandit mattis sapien. Sed aliquam leo et semper vestibulum."</p>
                <h5 class="u-text u-text-default u-text-4">Mattie Smith</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-2" src="" data-image-width="256" data-image-height="256"></div>
                <p class="u-text u-text-default u-text-5">"Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur, mauris in auctor euismod, quam elit ultrices urna, eget eleifend arcu risus id metus. Maecenas ex enim, mattis eu velit vitae, blandit mattis sapien. Sed aliquam leo et semper vestibulum."</p>
                <h5 class="u-text u-text-default u-text-6">Bertie Norton</h5>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <div alt="" class="u-image u-image-circle u-image-3" src="" data-image-width="256" data-image-height="256"></div>
                <p class="u-text u-text-default u-text-7">"Aenean pulvinar dui ornare, feugiat lorem non, ultrices justo. Mauris efficitur, mauris in auctor euismod, quam elit ultrices urna, eget eleifend arcu risus id metus. Maecenas ex enim, mattis eu velit vitae, blandit mattis sapien. Sed aliquam leo et semper vestibulum."</p>
                <h5 class="u-text u-text-default u-text-8">Nat Reynolds</h5>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </main>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
      <script src="js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
      <script src="assets/demo/chart-area-demo.js"></script>
      <script src="assets/demo/chart-bar-demo.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
      <script src="assets/demo/datatables-demo.js"></script>
    </body>
            
</html>