<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>tablas socio!</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        
        <!-- Colocar favicon en sitio -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
            crossorigin="anonymous"></script>
        <!-- Fuente externa https://fonts.google.com/ -->
        <link
            href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous">
        <!-- Mi hoja de estilos (Siempre la más relevante!) -->
        <link href="/css/styles.css" rel="stylesheet" />

    </head>

    <body >
        <!--Navbar-->
        <div>
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                <!--Parte izquierda del navar-->
                <h2 class="navbar-brand">Portal socio</h2>
                <h4 class="text-info" style="text-align: right; text-transform:
                    uppercase;"
                    th:if="${session.usuariosession != null}"
                    th:text="' BIENVENIDO ' + ${session.usuariosession.nombre +
                    ' '
                    +session.usuariosession.apellido}"></h4>
                <lu id="lista1">
                    <li>
                        <a href="/registros/socio">home</a>
                    </li>
                    <li>
                        <a href="/tablas/socio">listas</a>
                    </li>
                    <li>
                        <a href="/logout">salir</a>
                    </li>
                    <li>

                    </li>
                </lu>


            </nav>
        </div>

        <!-- lista de Comercios -->
        <section class="tabla">
            <h4 class="text-info">Comercios</h4>
            <p class="text-success" th:text="${exito}"></p>
            <p class="text-danger" th:text="${error}"></p>
            <table class="table table-bordered">

                <caption></caption>
                <thead class="table-info">
                    <tr class="text-info">
                        <th scope="col">nombre</th>
                        <th scope="col">rubro</th>
                        <th scope="col">puntuacion</th>
                        <th scope="col">foto</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${comercios}">
                        <td th:text="${c.nombre}"></td>
                        <td th:text="${c.rubro}"></td>
                        <td th:text="${c.puntuacion} + ' *'"></td>
                        <td> <section>

                                <img alt="" class="rounded mx-auto d-block"
                                    th:if="${c.foto != null}"
                                    th:src="@{/foto/load/__${c.foto.id}__}"
                                    id="img" style="width: 200px;">
                                <img alt="" class="rounded mx-auto d-block"
                                    th:unless="${c.foto != null}"
                                    src="https://estaticos.elperiodico.com/resources/jpg/0/5/worlds-ugliest-dog-competition-1529838820550.jpg"
                                    id="img" style="width: 200px;">

                            </section>

                        </td>
                        <td>
                            <a class="btn btn-info" name="id"
                                th:href="@{/comentario/listar/} + ${c.id}">comentarios
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info" name="id"
                                th:href="@{/reserva/lista/} + ${c.id}">reservas
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info" name="id"
                                th:href="@{/comercio/modifico/socio/} +
                                ${c.id}">modificar
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" name="id"
                                th:href="@{/comercio/baja/} +
                                ${c.id}">eliminar</a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </section>
        <!-- lista de EVENTOS -->

        <section class="tabla">
            <h4 class="text-info">Eventos</h4>
            <p class="text-success" th:text="${exito}"></p>
            <p class="text-danger" th:text="${error}"></p>
            <table class="table table-bordered">

                <caption></caption>
                <thead class="table-info">
                    <tr class="text-info">
                        <th scope="col">nombre del evento</th>
                        <th scope="col">auspiciante</th>
                        <th scope="col">direccion</th>
                        <th scope="col">descripcion del evento</th>
                        <th scope="col">foto</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e : ${eventos}">
                        <td th:text="${e.nombre}"></td>
                        <td th:text="${e.usuario.username}"></td>
                        <td th:text="${e.direccion}"></td>
                        <td th:text="${e.descripcion}"></td>
                        <td> <section>

                                <img alt="" class="rounded mx-auto d-block"
                                    th:if="${e.foto != null}"
                                    th:src="@{/foto/load/__${e.foto.id}__}"
                                    id="img" style="width: 200px;">
                                <img alt="" class="rounded mx-auto d-block"
                                    th:unless="${e.foto != null}"
                                    src="https://estaticos.elperiodico.com/resources/jpg/0/5/worlds-ugliest-dog-competition-1529838820550.jpg"
                                    id="img" style="width: 200px;">

                            </section>

                        </td>
                        <td>
                            <a class="btn btn-info" name="id"
                                th:href="@{/extra/modificoevento/socio/} +
                                ${e.id}">modificar
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" name="id"
                                th:href="@{/extra/baja/} +
                                ${e.id}">eliminar</a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </section>
        <!-- lista de PUBLICIDADES -->
        <section class="tabla">
            <h4 class="text-info">Publicidades</h4>
            <p class="text-success" th:text="${exito}"></p>
            <p class="text-danger" th:text="${error}"></p>
            <table class="table table-bordered">

                <caption></caption>
                <thead class="table-info">
                    <tr class="text-info">
                        <th scope="col">nombre de la publicidad</th>
                        <th scope="col">auspiciante</th>
                        <th scope="col">descripcion </th>
                        <th scope="col">foto</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${publicidades}">
                        <td th:text="${p.nombre}"></td>
                        <td th:text="${p.usuario.username}"></td>
                        <td th:text="${p.descripcion}"></td>
                        <td> <section>

                                <img alt="" class="rounded mx-auto d-block"
                                    th:if="${p.foto != null}"
                                    th:src="@{/foto/load/__${p.foto.id}__}"
                                    id="img" style="width: 200px;">
                                <img alt="" class="rounded mx-auto d-block"
                                    th:unless="${p.foto != null}"
                                    src="https://estaticos.elperiodico.com/resources/jpg/0/5/worlds-ugliest-dog-competition-1529838820550.jpg"
                                    id="img" style="width: 200px;">

                            </section>

                        </td>
                        <td>
                            <a class="btn btn-info" name="id"
                                th:href="@{/extra/modificopublicidad/socio/} +
                                ${p.id}">modificar
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" name="id"
                                th:href="@{/extra/baja/} +
                                ${p.id}">eliminar</a>
                        </td>

                    </tr>
                </tbody>
            </table>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			crossorigin="anonymous"></script>
		<script src="js/scripts.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
			crossorigin="anonymous"></script>
		<script src="assets/demo/chart-area-demo.js"></script>
		<script src="assets/demo/chart-bar-demo.js"></script>
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
			crossorigin="anonymous"></script>
		<script src="assets/demo/datatables-demo.js"></script>

        </body>
</html>